<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="PAL">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Login to Prtfolios</title>
	{# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> #}
    <link rel="stylesheet" type="text/css" href={% static "theme.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "login.css" %}>
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="col-md-6 card-wrapper">
					<div class="card fat">
						<div class="card-body">

							<h4 class="card-title">Reset password</h4>
							<form method="POST" class="my-login-validation" novalidate="">
                                {% csrf_token %}

                                <p class="lead">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                                <div class="form-group position-relative">
                                <label for="email">Enter your E-Mail Address</label>
                                <div class="invalid-feedback {% if form.email.errors %} d-block{% endif %}">
                                {{ form.email.errors }}
                                </div>
                                <div class="input-group input-group-transparent mb-4">
                                <div class="input-group-prepend">
                                <span class="input-group-text"><svg class="svg-inline--fa fa-user fa-w-16" width = "20" aria-hidden="true" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 12.713l-11.985-9.713h23.971l-11.986 9.713zm-5.425-1.822l-6.575-5.329v12.501l6.575-7.172zm10.85 0l6.575 7.172v-12.501l-6.575 5.329zm-1.557 1.261l-3.868 3.135-3.868-3.135-8.11 8.848h23.956l-8.11-8.848z"/></svg>
                                </div>
                                    {{ form.email }}
                            </div>
                        </div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Reset my password
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
            <div class="footer text-left">
            </div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src={% static "js/login.js" %}></script>
</body>
</html>